---
import { FancyPageLabel } from '@/components/FancyPageTitle';
import { SiteLayoutMenu } from '@/components/layout';
import { DarkModeChanger } from '@/components/DarkModeChanger';
import config from '@/config';
import { getPageTitle } from '@/utils';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{getPageTitle(`Ondřej Langr`)}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="description" content={config.site.description} />
    <meta name="keywords" content={config.site.keywords} />
    <meta name="author" content={config.site.author} />

    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/webmanifest.json" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#131113" />
    <meta name="theme-color" content="#5c04cc" />
    <link rel="stylesheet" href="https://use.typekit.net/asq3wpq.css" />
  </head>
  <body>
    <div class="dark:bg-siteBg transition-all duration-200">
      <div
        class="absolute top-0 left-0 w-full h-full z-0 dark:bg-gradient-to-t dark:from-sitePurple opacity-20"
      >
      </div>
      <div class="relative z-10">
        <FancyPageLabel client:idle />
        <DarkModeChanger client:load />

        <header
          role="heading"
          class="top-0 w-full px-2 py-2 z-20 flex items-center justify-end sticky max-w-screen-xl mx-auto"
        >
          <div
            class="flex items-center gap-4 py-3 px-4 bg-white dark:shadow-none shadow-lg shadow-blue-200 rounded-xl"
          >
            {/*<img height={70} width={"auto"} src={"/logo-full.svg"} />*/}
            <SiteLayoutMenu client:load />
          </div>
        </header>

        <main role="main"><slot /></main>
      </div>
    </div>
  </body>
</html>
