html,
body {
  padding: 0;
  margin: 0;
  font-family: poppins, sans-serif;
}


button, input, textarea {
  font-family: poppins, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
  margin: 0 10px;
}

* {
  box-sizing: border-box;
}
:root {
  --site-maxwi: 1230px;
  --site-sitespace: 20px;
  --color-base: #287ECD;
}

