html,
body {
  padding: 0;
  margin: 0;
  font-family: poppins, sans-serif;
}


button, input, textarea {
  font-family: poppins, sans-serif;
}
a {
  color: var(--color-base);
  text-decoration: none;
  margin: 0 5px;
  border-bottom: 4px dashed var(--color-base);
  display: inline-block;
  position: relative;
  line-height: 17px;
  text-decoration: none;
}

a:hover {
  border-bottom-style: solid;
  transition: .4s;
}

* {
  box-sizing: border-box;
}
:root {
  --site-maxwi: 1230px;
  --site-sitespace: 20px;
  --color-base: #287ECD;
}

