@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-siteBg;
}

@layer utilities {
  .text-gradient {
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

a {
  @apply text-sitePurple hover:underline;
}

:root {
  --site-maxwi: 1230px;
  --site-sitespace: 20px;
  --color-base: #287ECD;
  --color-blue: #3772ff;
  --color-red: #e70808;
  --color-yellow: #fdca40;
  --color-bg: #080708;
  --color-gray: #e6e8e6;
}

